<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jshop.android.index"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application  android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".JshopMNewIndex"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="JshopActivityIndexMenu"/>
		<activity android:name="com.jshop.android.coupon.JshopActivityCoupon" />
		<activity android:name="com.jshop.android.util.JshopActivityUtil" />
		<activity android:name="com.jshop.android.JshopActivity" />
		<activity android:name="com.jshop.android.index.JshopMIndex" />
		<activity android:name="com.jshop.android.table.JshopMtable" />
		<activity android:name="com.jshop.android.index.JshopMIndexbottom" />
		<activity android:name="com.jshop.android.index.JshopMIndexcenter" />
		<activity android:name="com.jshop.android.index.JshopMIndexmsgconfirm" />
		<activity android:name="com.jshop.android.index.WelcomeAct" />
		<!--  <activity android:name="com.jshop.android.index.JshopActivityIndex" />-->
		<activity android:name="com.jshop.android.login.JshopActivityLogin" />
		<activity android:name="com.jshop.android.register.JshopActivityRegister" />
		<activity android:name="com.jshop.android.search.JshopActivitySearch"></activity>
		<activity android:name="com.jshop.android.shop.JshopActivityGoodsCategoryList"></activity>
		<activity android:name="com.jshop.android.shop.JshopActivityGoodsList"></activity>
		<activity android:name="com.jshop.android.shop.JshopActivityGoodsdetail"></activity>
		<activity android:name="com.jshop.android.shop.JshopMGoodsdetail"></activity>
		<activity android:name="com.jshop.android.shop.JshopActivityNGoodsList"></activity>
		<activity android:name="com.jshop.android.shop.JshopMelectrocart"/>
		<activity android:name="com.jshop.android.shop.JshopMelectroorder"/>
		<activity android:name="com.jshop.android.shop.JshopMelectroorderdetail"/>
		<activity android:name="com.jshop.android.shop.JshopActivityGoodsListViewPager"/>
		<activity android:name="com.jshop.android.shop.JshopMGoodsListViewPager"/>
		<activity android:name="com.jshop.android.shop.JshopActivityNGoodsViewPager"/>
		<!-- <activity android:name="com.jshop.android.location.JshopActivityLocationer" />
		<activity android:name="com.jshop.android.location.JshopItemizedOverlay" /> -->
		
		<!--  <uses-library android:name="com.google.android.maps" /> -->
		
    </application>
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	 <uses-permission android:name="android.permission.READ_CONTACTS"/>
</manifest>